{% extends 'email/email.twig' %}

{% block content %}
  <p class="lead">Hi {{ user.name | split(' ')[0] }}, lets get your password reset.</p>
  <spacer size="16"></spacer>
  <p>Just click the following link and choose your new password.</p>
  <center><button href="{{ url('auth.reset', {id: user.id, hash: user.resetPasswordToken }) }}" class="radius">Reset my Password</button></center>
  <hr/>
  <callout class="warning">If you didn't request this password change, try to sign in. If you are unable to, let us know of the situation by replying directly to this email.</p></callout>
{% endblock %}
