{% extends 'email/email.twig' %}

{% block content %}
  <p class="lead">Hi {{ user.name | split(' ')[0] }}, you just changed your password.</p>
  <spacer size="16"></spacer>
  <hr/>
  <callout class="warning"><p>If this email comes as a suprise to you, let us know immediately so we can address the situation. You may reply directly to this email.</p></callout>
{% endblock %}
